#header{
    height: 60px;
    background: #16a085;
    z-index: 2;
    box-shadow: 5px 0 5px #16a085
}

#sidebar-wrapper{
    width:25px;
    background: #1abc9c;
    position: absolute;
    height: 100%;
    overflow-y: hidden;
}

.toggle-sidebar {
	margin-top:400px;
	position:absolute;
	z-index:2;
}

#wrapper.menuDisplayed  .toggle-sidebar {
	margin-left:225px;
	width:50px;
}

#wrapper.toggle-sidebar {
	margin-left:0px;
    width:50px;
}

/* Change with of sidebar from 0 to 250px */
#wrapper.menuDisplayed #sidebar-wrapper {
    width: 250px;
}

/* Since we added left padding, we need to shrink the width by 250px */
#wrapper.menuDisplayed #main-page-wrapper {
    padding-left: 250px;
}

#wrapper #main-page-wrapper{
    padding-left: 25px;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ddd;
}

.sidebar-nav li a:hover {
    background: #16A085;
}

#wrapper.menuDisplayed~#account {
    background:red;
}